<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, width=device-width">

    <!--Get bootstrap-->
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" rel="stylesheet">
    <script crossorigin="anonymous" src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"></script>

    <link href="static/favicon.ico" rel="icon">

    <link href="static/styles.css" rel="stylesheet">

    <title>Quản lý thuốc: {% block title %}{% endblock %}</title>

</head>

<body>

    <nav class="navbar navbar-light navbar-expand-md border" style="background-color: #C7F2A4">
        <div class="container-fluid">
            <!--Logo on the left of navigation bar-->
            <a class="navbar-brand" href="/">
                <img src="static/quan_ly.png" alt="logo" class="rounded-pill" width="40px" height="40px">
            </a>
            <!--Collapsible button in case of viewing on smaller screen-->
            <button aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-bs-target="#navbar" data-bs-toggle="collapse" type="button">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbar">
                <!--Here goes all the routes to your page, distinguished by login status, user_status as well (whether user is admin)-->
                {% if session["user_id"] %}
                    <ul class="navbar-nav me-auto mt-2">
                        <li class="nav-item"><a class="nav-link" href="/buy">Nhập thuốc</a></li>
                        <li class="nav-item"><a class="nav-link" href="/sell">Xuất thuốc</a></li>
                        <li class="nav-item"><a class="nav-link" href="/update">Update dữ liệu</a></li>
                    </ul>
                    <ul class="navbar-nav ms-auto mt-2">
                        <li class="nav-item"><a class="nav-link" href="/report">Báo cáo</a></li>
                        <li class="nav-item"><a class="nav-link" href="/changes">Lịch sử sửa</a></li>
                        <li class="nav-item"><a class="nav-link" href="/history">Lịch sử giao dịch</a></li>
                        <li class="nav-item"><a class="nav-link" href="/logout">Đăng xuất</a></li>
                    </ul>
                {% else %}
                    <ul class="navbar-nav ms-auto mt-2">
                        <li class="nav-item"><a class="nav-link" href="/register">Đăng kí</a></li>
                        <li class="nav-item"><a class="nav-link" href="/login">Đăng nhập</a></li>
                    </ul>
                {% endif %}
            </div>
        </div>
    </nav>

    {% if get_flashed_messages() %}
        <header>
            <div class="alert alert-primary mb-0 text-center" role="alert">
                {{ get_flashed_messages() | join(" ") }}
            </div>
        </header>
    {% endif %}

    <main class="container-fluid py-5 text-center">
        {% block main %}{% endblock %}
    </main>

    <footer class="mb-5 small text-center text-muted">
        {% if session["user_id"] %}
            Người dùng đang đăng nhập: {{ current_user }}
            <br>
        {% endif %}
        Project inspired by <a href="https://cs50.harvard.edu/x/2022/psets/9/finance/">Harvard's CS50: Finance</a>
    </footer>
</body>
</html>