{% extends "layout.html" %}

{% block title %}
    Lịch sử xuất/nhập
{% endblock %}

{% block main %}
    <form action="/history" method="post">
        <div class="row mb-3">
            <div class="col">
                Lọc theo: 
            </div>
            <div class="col">
                <input type="text" class="form-control mx-auto w-auto" name="filter_user" placeholder="Người dùng">
            </div>
            <div class="col">
                <input type="number" min="1" max="31" class="form-control" name="filter_day" placeholder="Ngày (DD)">
            </div>
            <div class="col">
                <input type="number" min="1" max="12" class="form-control" name="filter_month" placeholder="Tháng (MM)">
            </div>
            <div class="col">
                <input type="number" class="form-control" name="filter_year" placeholder="Năm (YYYY)" value="2022">
            </div>
            <div class="col">
                <input type="text" class="form-control" name="filter_med" placeholder="Thuốc">
            </div>
            <div class="col">
                <input type="text" class="form-control" name="filter_place" placeholder="Nơi xuất">
            </div>
            <div class="col">
                <select class="form-select" name="filter_action" placeholder="Loại giao dịch">
                    <option value="">Loại giao dịch</option>
                    <option value="nhap">Nhập thuốc</option>
                    <option value="xuat">Xuất thuốc</option>
                    <option value="them">Thêm thuốc</option>
                </select>
            </div>
            <div class="col">
                <button class="btn btn-primary" type="submit">Tìm giao dịch</button>
            </div>
            <div class="col">
                <button class="btn btn-danger" type="submit">Làm mới trang</button>
            </div>
        </div mb-3>
    </form>
    <table class="table table-hover table-striped table-bordered">
        <thead>
            <tr>
                <th class="text-start">ID giao dịch</th>
                <th>Người thực hiện</th>
                <th>Ngày thực hiện</th>
                <th>Tên thuốc</th>
                <th>Đơn vị</th>
                <th>SL nhập(+)/xuất(-)</th>
                <th>Giá xuất</th>
                <th>Tổng</th>
                <th>Nơi xuất</th>
                <th>Giá cũ</th>
                <th>Tồn cũ</th>
                <th>Ghi chú</th>
            </tr>
        </thead>
        <tbody>
            {% for transaction in all_transactions %}
                <tr>
                    <td class="text-start">{{ transaction.action_id }}</td>
                    <td>{{ transaction.performed_by }}</td>
                    <td>{{ transaction.action_time.strftime("%d/%m/%Y, %H:%M:%S") }}</td>
                    <td>{{ transaction.medicine }}</td>
                    <td>{{ transaction.unit }}</td>
                    <td>{{ transaction.quantity_formatted }}</td>
                    <td>{{ transaction.price_formatted }}</td>
                    <td>{{ transaction.action_total_formatted }}</td>
                    <td>{{ transaction.sale_place }}</td>
                    <td>{{ transaction.previous_price }}</td>
                    <td>{{ transaction.previous_quantity }}</td>
                    <td>{{ transaction.action_notes }}</td>
                </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="fw-bold">Tổng số lượng: </td>
                <td class="fw-bold">{{ quantity_total }}</td>
                <td class="fw-bold">Tổng tiền: </td>
                <td class="fw-bold">{{ money_total }}</td>
                <td></td>
                <td></td>   
            </tr>
        </tfoot>
    </table>
{% endblock %}